/*color varibles*/

$main-color:#9356DC;
$second-color:#FF79DA;
$tierce-color:#99E2D0;
$grey-texte-fond:#353535;

/*font variables */
$light:300;
$regular:400;
$medium:500;

/*carte décalage lors d'un clic ou d'un hover */
$carshift:59px;

/* Taille de média*/

$smartphone:768px;
$desktop:1024px;