
@use 'variables';
@use 'mixins';
@use 'keyframes';
 

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 0px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    min-height: 200vh;
}

.header
    .header__icon-return {
        display:none;
    }

/* localisation de la ville */
.localisation {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:17px;
    align-items: center;
    height: 50px;
    @include mixins.font-roboto (16px, variables.$medium,variables.$grey-texte-fond);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
    @media (min-width: variables.$desktop) {
        box-shadow: none;
        margin-bottom: 0px;
    } 
}

/* Début Réservation ***********/

.reservation {
    background-color:#F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 39px;
    padding-bottom:57px;
    @media (min-width: variables.$desktop) {
        gap: 18px;
        padding: 30px 180px;
    }
    &__title { 
        display: flex;
        text-align: center;
        justify-content: center; 
        height: 68px;
        padding-left: 42px;
        padding-right: 58px;
        @media (min-width: variables.$desktop) {
                @include mixins.font-roboto (40px, bold,black);
                height: 47px; 
                align-items: center;
            }               
        &-h1 {
            @include mixins.font-roboto (24px, bold,black);
            margin: 0px;
            @media (min-width: variables.$desktop) {
                @include mixins.font-roboto (40px, bold,black);
            }    
        }   
    }
    &__decouverte { 
        display: flex;
        text-align: center;
        justify-content: center;
        height: 46px; 
        padding-left: 34px;
        padding-right: 26px;
        @media (min-width: variables.$desktop) {
                align-items: center;
        }        
        &-p {
            @include mixins.font-roboto (18px, variables.$light,variables.$grey-texte-fond);
            margin:0px;
        }      
    }
    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 218px;
        height: 50px;
        margin-top: 27px;
        padding:0px;
        border: 1px solid transparent;
        border-radius: 25px;
        @include mixins.font-roboto (16px, variables.$medium,white);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(-161deg, variables.$main-color 0%, variables.$second-color 100%);
        transition: background-color 300ms ease;
        @media (min-width: variables.$desktop) {
            margin: 0;
            padding:0;
        } 
        &:hover {        
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            background: linear-gradient(174deg, variables.$second-color 100%,variables.$main-color 0%);
        }
    }
}

/* Début fonctionnement */
.fonctionnement {
    display: flex;
    flex-direction: column;
    gap :25px;
    align-items:stretch;
    margin: 58px 20px; 
    @media (min-width: variables.$desktop) {
        margin: 50px 180px;
    }
    &__title {
        height: 31px;
        @include mixins.font-roboto (24px, bold , black);
        vertical-align: top;
        margin:0px;
    }

    &__choices {
        display: flex;
        flex-direction: column;
        align-items:stretch;
        gap:25px;
        margin:0px;
        padding: 0px;
    
        @media (min-width: variables.$desktop) {
            flex-direction: row;
            gap:24px;
        }
        .fonctionnement__liste {
                list-style: none;
                @media (min-width: variables.$desktop) {
                    width:31%;
            }
        }
        .fonctionnement__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width:calc(100% - 12px);
            gap: 23px;
            margin-left: 12px;
            border-radius: 20px;
            height: 72.38px;
            border:none;
            list-style: none;
            padding:0px;
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            @media (min-width: variables.$desktop) {
                flex-direction: row;
                gap:24px;
            }
    
            .fonctionnement__number {
                @include mixins.font-roboto (14.18px, variables.$medium, white);
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                background-color: variables.$main-color;
                border-radius: 50%;
                /*dimension du cercle */
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin-left :-12px;
            }
            .fonctionnement__icon {
                font-size: 20px;
                &--color {
                    color: variables.$main-color;
                }
            }
            
            .fonctionnement__label {
                @include mixins.font-roboto (16px, variables.$medium, black);
            }
    }   }
}

/********** Début restaurants ***********/
.restaurants {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #F6F6F6;
    box-sizing: border-box; 
    padding: 54px 17px 66px 20px;
    @media (min-width: variables.$desktop) {
        padding: 30px 180px;
        gap:18px;
    }
    
    .restaurants__title {
        margin-bottom :20px;
         @media (min-width: variables.$desktop) {
            margin-bottom :10px;
        }
        &-principal {
            margin:0px;
            vertical-align: top;
            @include mixins.font-roboto (24px, bold, black);
        } 
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap:18px;
        @media (min-width: variables.$desktop) {
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
            column-gap: 100px
        }
        .card {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 15px;
            position:relative;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

            &--link {
                    text-decoration: none;
            }

            &__container {
                position:relative;
                display: inline-block;
                font-size :0px;
                width: 100%;
                .card__image {
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                    border-top-left-radius: 15px; 
                    border-top-right-radius: 15px
                }
                .card__badge {
                    position: absolute;
                    @include mixins.font-roboto (14px, variables.$light,#008766);
                    border-radius: 2px;
                    top: 13px;     
                    right: 7px;     
                    padding: 5px 10px;
                    font-weight: bold;
                    background-color: #99E2D0;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                }       
            }
            
            &__txt {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;
                margin-left: 13px;
                margin-right: 26px;
                 @media (min-width: variables.$desktop) {
                    margin-left: 18.74px;
                 }
                .card__title {
                    @include mixins.font-roboto (18px, bold,black);
                    margin-top: 15px;
                    margin-bottom: 0px;
                }

                .card__subtitle {
                    @include mixins.font-roboto (17px, variables.$light,black);
                    margin-top : 5px;
                    margin-bottom: 12px;
                }
            }

            .card__like {
                position :absolute;
                top:197px;
                right: 54px;
                font-size: 21px;
                &--toggle {
                    display:none;
                }
                &--icon i {
                    font-size: 24px;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .fa-solid {
                    opacity: 0;
                    background: linear-gradient(180deg, variables.$main-color 0%,variables.$second-color 100%);
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }

                .fa-regular {
                    opacity: 1;
                    color:black;

                }

                /* Quand le checkbox est coché, on inverse les opacités */
                /* combinaison d'adjacence*/
                .card__like--toggle:checked + .card__like--icon .fa-regular {
                    opacity: 0;
                }

                .card__like--toggle:checked + .card__like--icon .fa-solid {
                    opacity: 1;
                }
            }
        }
     }
}

