/****** General ***********/
@use 'variables';
@use 'mixins';
@use 'keyframes'; 

/* Loader actif plein écran */

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0
}
 

.main-container {
    width:100%;
    max-width: 1440px;
    padding: 0px 0px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

.restau__image img {
    display: block;
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: variables.$desktop) {
        height: 383px;
    }
}

.restau--background {
    margin-top: -40.33px;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    @media (min-width: variables.$desktop) {
      max-width:1055px;
      margin-left: auto;
      margin-right: auto;
    }
}

.restau {
    padding: 32px 13px 0px 13px;
    display:flex;
    flex-direction: column;
    gap: 40px;
    @media (min-width: variables.$desktop) {
        padding: 61.30px 210px 0px 210px;
    }

    &__title {

        display: flex;
        flex-direction:row;
        justify-content: start;
        position: relative;
        @media (min-width: variables.$desktop) {
          justify-content:center;
               gap: 45px;
        }

        h1 {
            margin: 0;
            line-height: 100%;
            @include mixins.font-shrik (28px,bold,black);
            font-style: italic;
            @media (min-width: variables.$desktop) {
               margin-bottom: 5px;
            }
        }
        &__like {
                &--toggle {
                    display:none;
                }

                &--icon {
                  font-size:22px;
                  width: 22px;
                  height: 22px;

                    i {
                        position: absolute;
                        left: 312px;
                        top:3px;
                        @media (min-width: variables.$desktop) {                                              
                          left: 448px;
                        }
                      }
  
                    .fa-solid {
                        opacity: 0;
                        background: linear-gradient(180deg, variables.$main-color 0%,variables.$second-color 100%);
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }

                    .fa-regular {
                        opacity: 1;
                        color:black;
                    }
                
                }
                
                &--toggle:checked + &--icon .fa-regular {
                    /* Quand le checkbox est coché, on inverse les opacités */
                /* combinaison d'adjacence*/
                    opacity: 0;
                }

                &--toggle:checked + &--icon .fa-solid {
                    opacity: 1;
                }
            }
    }

    &__carte {
        display: flex;
        flex-direction: column;
        gap:12px;
        padding:0px;
        margin:0px;

        animation: menu-entree 2s 0s linear backwards;

        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
            animation-delay: #{($i-2) * 300}ms;
        }
    }

        &-title {
            h2 {
                @include mixins.font-roboto(16px,variables.$light,black);
                margin:0px;
                
                &::after {
                    content: "";                
                    display: block;
                    width: 40px;
                    margin-top: 3px;
                    border-bottom: 3px solid #99E2D0;

                }
            }
        }
    }
    &__commande {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;
        &-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 186px;
            height: 50px;
            padding:0px;
            margin: 0px;
            border: 1px solid transparent;
            border-radius: 25px;
            cursor: pointer;
            @include mixins.font-roboto (16px, variables.$medium,white);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            background: linear-gradient(-161deg, variables.$main-color 0%, variables.$second-color 100%);
            transition: background-color 300ms ease;
            &:hover {        
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                background: linear-gradient(174deg, variables.$second-color 100%,variables.$main-color 0%);
            }
            @media (min-width: variables.$desktop) {
                margin: 0;
                padding:0;
            } 
        }
    }
}

.carte {
    display:flex;
    flex-direction: column;
    gap:10px;
              
 
    &__plat {
        position:relative;
        display: flex;
        flex-direction: row;
        align-items:end;
        gap:5px;
        border-radius: 15px;
        padding: 14px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 4.01, 15.04, 0.15);
        overflow: hidden;
        z-index:1;
        input[type='checkbox'] {
                        display: none;
            }
 
        @media (max-width: variables.$desktop) { 

             
                .toggle-plat:checked ~ &-select {
                    transform: translateX(0);
                }

                .toggle-plat:checked ~ &-price {
                transform: translateX(-1* variables.$carshift);
                transition: transform 300ms ease;
                }

                .toggle-plat:checked ~ &-description b,
                .toggle-plat:checked ~ &-description em {
                width: calc(100% - variables.$carshift);
                }
        }

        @media (min-width: variables.$desktop) { 

        
            &:hover &-select{
                    transform: translateX(0);

            }
            &:hover &-price {
                transform: translateX(-1*variables.$carshift);
                transition: transform 300ms ease;
            }

            &:hover &-description em {
                width: calc(100% - variables.$carshift);
            }

            &:hover &-description b {
                width: calc(100% - variables.$carshift);
            }                
        }

        &-description {
            display:flex;
            flex-direction: column;
            align-items: start;
            gap:5px;
            flex: 1;
            min-width: 0;
            overflow: hidden;
            
            b {
                @include mixins.font-roboto(18px,variables.$medium,black);
                font-style: normal;
                margin:0px;
                white-space: nowrap;          /* Ne pas aller à la ligne */
                overflow: hidden;             /* Masquer le débordement */
                text-overflow: ellipsis;      /* Afficher "…" à la fin */
                width: 100%;
            }
        
            em {
                @include mixins.font-roboto(15.04px,variables.$light,black);
                font-style: normal;
                margin: 0px;
                white-space: nowrap;  
                overflow: hidden; 
                text-overflow: ellipsis;
                width: 100%;
            }
        }
        
        &-price em {
                    @include mixins.font-roboto(15.04px,bold,variables.$grey-texte-fond);
                    font-style: normal;
                    white-space: nowrap;
                    display: flex;
                    align-items: end;
                    width:100%;
                    margin: 0px;
                    margin-right:15px;
                  
                    @media (min-width: variables.$desktop) {
                      margin-right:0px;
                    }
        }
        
        &-select {
          position:absolute;
          top:0px;
          right:0px;
          width:59px;
          height:100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-color: #99E2D0;
          border-radius: 0px 15px 15px 0px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: translateX(100%);
          transition: transform 300ms ease;

          &-check {
              font-size: 20px;
              color: #99E2D0;
              border-radius: 25px;
              background-color: white;
          }

        }        
    } 
 }

